* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100vh;
    width: 100%;
    background-color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;

    section {
        height: 80%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // background-color: rgb(80, 61, 61);
    }
}

section {
    #info {
        height: 10%;
        width: 100%;
        // background-color: blue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0vh 2vw;
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #board {
        height: 90%;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        border: 2px solid #000;

        .cell {
            border: 1px solid rgb(177, 177, 177);
        }

        .snake {
            background-color: limegreen;
        }

        .food {
            background-color: red;
        }
    }
}